// These variables are loaded in each Vue component in order to have generic global settings

// Colors -----

$background-color: #f6f6f6;
$font-color: #767676;
$font-color-dark: #323232;

$blue: #0275d8;

// Spacers
$spacer: 15px;
$spacer-small: 10px;

// Sizes
$font-big: 17px;
$font-mid: 14px;
$font-small: 12px;