-webkit-font-smoothing: antialiased;
* {box-sizing: border-box;}
body {
	margin:0;
	padding: 1px;
}

.btn {border-radius: 2px !important;} /* Remove ugly button radius of bootstrap framework */

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Really basic grid system 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
*/
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:.2; }
  100% { opacity:1; }
}